################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/uma-mahesh-app-api/.vs/UmaMahesh_BackApp/FileContentIndex
