################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/uma-mahesh-app-api/.vs/UmaMahesh_BackApp/FileContentIndex
/.vs
/uma-mahesh-app-api/.vs/UmaMahesh_BackApp/v17/TestStore/0/000.testlog
/uma-mahesh-app-api/.vs/UmaMahesh_BackApp/v17/TestStore/0/testlog.manifest
