#products{
  position: relative;
  top: 0px;
  left: 0px;
}

#restaurants{
  position: relative;
  top: 0px;
  left: 0px;
}

/* #top-bar {
  border-bottom: 0px solid black;
} */


#layout{
  position: relative;
    padding: 16px;
    top:0px

}
#my-listings-button {
  position: relative;
  top: 0px;
  left: 700px;
}

#sign-out {
  position: relative;
  top: 0px;
  left: 700px;
}
